# Logger Configuration
LOG_LEVEL=info
LOG_DEBUG=true
LOG_DEBUG_KEYS=my-app:database,my-app:api,my-app:auth
LOG_SERVER_URL=http://localhost:3000/logs
SERVICE_NAME=my-app
LOG_THEME=dark
LOG_COLORS=true
DATABASE_URL="postgresql://postgres:admin123@localhost:5432/example_db"